.background {
  -fx-background-color: Black;
}

.button {
  -fx-background-color: Transparent;
  -fx-text-fill: White;
}

.button:hover {
  -fx-text-fill: LightBlue;
}

.menu-text {
  -fx-fill: White;
}